    *{
        font-family: 'Raleway', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background: transparent;
    }

    .navbar {
        padding: 0;
        margin: 0;
    }
        
    .container-fluid{
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 40%)inset;
        background-color: rgba(191, 192, 192) ;
    }
    
    .nav-item a {
        color: #2D3142;
        font-weight: bolder;
        font-size: 1.3rem;
        text-decoration: none;
        cursor: none;
    }

    .nav-link {
        color: #EF8354;
        border-radius: 15px;
        padding: 10px 25px;
        background: transparent;
        cursor: none;
    
}
.navbar-brand img {
   margin: 20px;
}
.nav-link:hover {
    width: fit-content;
    box-shadow: 2px 2px 25px #EF8354 inset;
    color: #2D3142;
    text-shadow:  0 0 5px #4F5D75;
}
  
.nav-link:active {
    box-shadow: 2px 2px 20px #EF8354 inset;
}

    
 
    
    /*FORMULARIO*/
    #formulario {
        background: #FFF;
        width: 90%;
        height: 550px;
        box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
        margin: 20px;
      }
      
      
      .contact {
        padding: .8rem;
        overflow: hidden;
        color: gray;
      }
      
      .contact label, .contact input, .contact textarea {
        display: block;
        width: 100%;
        margin-bottom: 5px;   
      }
      
      .contact label {
        font-weight: 700;
      }
      
      .contact input:not([type='submit']), .contact textarea {
        border: none;
        border-bottom: 2px solid #EF8354;
        margin-bottom: 10px;
        font-size: 20px;
        outline: none;
        color: gray;
      }
      

      .contact textarea {
        min-width: 400px;
        max-width: 200px;
        min-height: 200px;
        max-height: 200px;
      }
      
      input[type='submit'] {
        padding: 10px;
        background: #EF8354;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
      
      }

    
    /*FOOTER*/
    footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-top: 20px;
        margin-bottom: 0px;
        background-color: #BFC0C0;
        box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 40%)inset;
    }
    
    footer div{
        margin-right: 40px;
        gap: 10px;
        color: #EF8354;
    }
    
    footer div i{
        font-size: 3vw;
    }
    
    footer div i:hover{
        transform: scale(1.2);
    }
    
    footer h5{
        font-style: italic;
        font-size: 2vw;
        padding: 10px;
        margin-left: 20px;
    }
       
	






/*-----------INDEX-------*/

.quiensoy{
    margin: 20px;
}

.quiensoy_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valores{
    margin: 20px;
    text-align: center;
    padding: 10px;
    border: dotted 1px black;
    background-color: #EF8354;
    color: white;
}

.iconstar{
    font-size: 7vh;
    color: #2D3142;
    animation-name: cambiacolor;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes cambiacolor{
    0%{
        color:  #4F5D75;
    }

    50%{
        color:  #BFC0C0;
    }

    100%{
        color: white;
    }
}

.carousel_img{
    height: 50vh;
}

.metricas{
    margin: 20px;
    background-color: #4F5D75;
    text-align: center;
    padding: 10px;
    color: white;
}

/*GALERIA*/

h1{
    color:aqua;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0, 19);
float: left;
width: 350px;
}

div.galeria image{
    width: 100%;
    height: auto;
}
div.galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}
div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}
