*{

    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;

}
header{
    width: 100%;
    padding: 20px;
    background-color: #BFC0C0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
/*---------NAV----------*/

header nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
   
}

header nav a{
    color: #2D3142;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    text-justify: auto;
    padding: 10px;
    flex-grow: 1;

}

header #logo{
    padding-left: 50px;
}

header #logo img{
    width: 200px;
    height: 200px;;
}


  

.button {
    color: #EF8354;
    border: 3px solid #EF8354;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;

  }
  
  .button:hover {
    box-shadow: 2px 2px 25px #EF8354 inset;
  }
  
  .button:active {
    box-shadow: 2px 2px 20px #EF8354 inset;
  }
  

/*-----------INDEX-------*/

.quiensoy{
    margin: 20px;
}

.quiensoy_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valores{
    margin: 20px;
    text-align: center;
    padding: 10px;
    border: dotted 1px black;
    background-color: #EF8354;
    color: white;
}

.iconstar{
    font-size: 7vh;
    color: #2D3142;
    animation-name: cambiacolor;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes cambiacolor{
    0%{
        color:  #4F5D75;
    }

    50%{
        color:  #BFC0C0;
    }

    100%{
        color: white;
    }
}

.carousel_img{
    height: 50vh;
}

.metricas{
    margin: 20px;
    background-color: #4F5D75;
    text-align: center;
    padding: 10px;
    color: white;
}



/*-----------FOOTER-------*/

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 8vw;
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 0px;
    background-color: #BFC0C0;
}

.iconos{
    display: flex;
    gap: 10px;
    margin-right: 20px;
    font-size: 3vw;
    color: #EF8354;
}

.icono:hover{
    transform: scale(1.6);
}

footer h5{
    font-style: italic;
    font-size: 2vw;
    padding: 10px;
    margin-left: 20px;
}
